@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: Futura;
      font-weight: 400;
      src: url("/fonts/futura/Futura_Book_font.ttf") format("tff");
    }

    @font-face {
        font-family: Futura;
        font-weight: 800;
        src: url("/fonts/futura/Futura_Heavy_font.ttf") format("tff");
    }

    @font-face {
        font-family: Futura;
        font-weight: 900;
        src: url("/fonts/futura/Futura_Bold.ttf") format("tff");
    }

  }

@layer utilities{
    .h-screen { height: 100vh; height: 100dvh }


    .h-screen {
        height: 100vh;
        height: 100dvh
    }

    .user-drag-none {
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
    }

    .bg-tempalte {
        z-index: 50;
        background: url('/background.svg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }



    .inv-rounded-tl::before {
        position: absolute;
        top: -2rem;
        left: -2px;
        content: "";
        width: 2rem;
        height: 2rem;
        background-color: #E2EBFF;
        mask-image: url('/fake_radius_left.svg');
        mask-repeat: no-repeat;
        mask-origin: content-box;
        mask-position: right bottom;
        transform-origin: left bottom;
    }


    .inv-rounded-bl::before {
        position: absolute;
        bottom: 0;
        left: -2rem;
        content: "";
        width: 2rem;
        height: 2rem;
        background-color: #E2EBFF;
        mask-image: url('/fake_radius_right.svg');
        mask-repeat: no-repeat;
        mask-origin: content-box;
        mask-position: right bottom;
        transform-origin: left bottom;
    }



    .inv-rounded-bl-none::before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 0;
        height: 0;
    }

}